<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cheff Do Churras</title>
    <link rel="stylesheet" href="../CSS/style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
    </style>
</head>
<body id="contato">
    <header>
        <div id="logo">
            <img src="../IMG/logo-final.png" alt="logo">
        </div>
        <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="equipe.html">Equipe</a></li>
                <li><a id="ctt" href="#">Contato</a></li>
                <li><a href="inscricao.html">Inscrição</a></li>
            </ul>
        </nav>
       
    </header>
    <main>
        <form action="#">
            <div class="dado">
                <label for="inome">Nome:</label>
                <input type="text" name="" id="inome">
            </div>
            <div class="dado">
                <label for="iemail">Email:</label>
                <input type="email" name="" id="iemail">
            </div>
            <div class="dado">
                <label for="imsg">Mensagem:</label>
                <textarea name="" id="msg"></textarea>
            </div>
            <div id="form-btn">
                <input type="button" id="btn-form" value="Enviar">
            </div>   
        </form>
    </main>

    <footer>
        <P>Created by <em>Leonardo Alves</em></P>
    </footer>
</body>
</html>
