<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cheff Do Churras</title>
    <link rel="stylesheet" href="../CSS/style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
    </style>
</head>

<body id="equipe">
    <header>
        <div id="logo">
            <img src="../IMG/logo-final.png" alt="logo">
        </div>
        <nav>
            <ul>
                <li><a href="../Index.html">Home</a></li>
                <li><a id="eq" href="#">Equipe</a></li>
                <li><a href="contato.html">Contato</a></li>
                <li><a href="inscricao.html">Inscrição</a></li>
            </ul>
        </nav>
       
    </header>
    
    <main>
        <section>
            <div class="conteiner">
                <article class="conteiner-pessoa">
                    <img class="foto" src="../IMG/salt bae.webp" alt="">
                    <h5>Salt Bae</h5>
                    <p class="descricao">Prof - Churraqueiro Cheff</p>
                </article>
                <article class="conteiner-pessoa">
                    <img class="foto" src="../IMG/Almiro.jpg" alt="">
                    <h5>José Almiro</h5>
                    <p class="descricao">Prof - Churrasqueiro Da Galera</p>
                </article>
                <article class="conteiner-pessoa">
                    <img class="foto" src="../IMG/da casa.jpg" alt="">
                    <h5>Rafa Na Braza</h5>
                    <p class="descricao"> Prof - Churraqueiro De Casa</p>
                </article>
            </div>
        
        </section>

        <section>
            <div class="conteiner">
                <article class="conteiner-pessoa teste">
                    <img class="foto" src="../IMG/tiao fornalha.jpg" alt="">
                    <h5>Zé da braza</h5>
                    <p class="descricao">Assistente de produção</p>
                </article>
                <article class="conteiner-pessoa teste">
                    <img class="foto" src="../IMG/Ze braseiro.jpg" alt="">
                    <h5>Tião Fornalha</h5>
                    <p class="descricao">Auxiliar de corte</p>
                </article>
            </div>
        </section>
    </main>

    <footer>
        <P>Created by <em>Leonardo Alves</em></P>
    </footer>
</body>
</html>